.checkoutProduct{
 border: 1px solid #000;
 display: flex;
 align-items: flex-start;
 margin-bottom: 20px;
}

.checkoutProduct__rating{
 border: 1px solid red;
 display: flex;
}

.checkoutProduct__image{
 margin-right: 10px;
}
.checkoutProduct__info > button{
  background:#f0c14b;
  border:1px solid;
  margin-top: 18px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}