.subtotal{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width:100%;
 max-width: 900px;
 padding: 20px;
gap: 10px;
 margin-left: 25px;
 background-color: #f3f3f3;
 border: 1px solid #dddddd;
 border-radius: 3px;
}

.subtotal__gift{
 display: flex;
 align-items: center;
}
.subtotal__gift > input{
 margin-right:7px;
}

.subtotal > button{
 background-color: #f0c14b;
 border-radius: 2px;
 width: 100%;
 border: 1px solid;
 border-color: #a88734 #9c7e31 #B46a29;
 color: #111;
 cursor: pointer;
}